body {
    font-family: 'Amiri', serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header, footer, section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #4CAF50;
}

p {
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #4CAF50;
    padding: 5px;
    border-radius: 50%;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}
